@import "./themes/mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    border: none;
    border-radius: 0;
}

window#waybar {
    /* background: @crust; */
    background-color: transparent;
    /* opacity: 1; */
    color: @yellow;

}

tooltip {
    border: 1px solid @red;
    background-color: @surface0;
    font-family: "JetBrainsMono Nerd Font";
    border-radius: 8px;
    margin: 8px 12px 0;
    padding: 0 12px;
}

tooltip label {
    color: @green;
}

#waybar .modules-left {
    margin: 4px 0;
    padding-left: 12px;
}

#waybar .modules-right {
    margin: 4px 0;
    padding-right: 12px;
}

#workspaces button {
    background: @red;
    color: @base;
    border-radius: 12px;
    margin-right: 4px;
}

#workspaces button.active {
    background: @green;
}

#workspaces button:hover {
    background: @lavender;
    color: @crust;
}

#tray {
    color: @blue;
    margin: 2px 8px;
    padding: 0 16px;
    border-radius: 8px;
    border: 1px solid @blue;
}

#pulseaudio {
    margin: 2px 0;
    border-radius: 8px;
    padding: 0 12px;
    color: @red;
    border: 1px solid @red;
    /* background: @base; */
}

#battery {
    margin: 2px 0;
    /* border-radius: 8px; */
    padding: 0 12px;
    color: @green;
    /* border: 1px solid @green; */
    /* background: @base; */
}

@keyframes blink {
    50% {
        background-color: red;
        border-radius: 8px;
    }
}

#battery.critical:not(.charging) {
    animation: blink 2s linear infinite;
}

#clock {
    margin: 2px 8px;
    border-radius: 8px;
    border: 1px solid @yellow;
    padding: 0 12px;
    color: @yellow;
    /* background: @base; */
}

#idle_inhibitor {
    margin: 2px;
    /* border-radius: 8px;
    border: 1px solid @blue; */
    /* padding: 0 12px; */
    color: @blue;
    /* background: @base; */
}

#idle_inhibitor.activated {
    margin: 2px;
    /* border-radius: 8px;
    border: 1px solid @blue; */
    /* padding: 0 12px; */
    color: @green;
    /* background: @base; */
}

#custom-notification-center {
    margin: 2px;
    border-radius: 12px;
    /* background: @crust; */
    color: @teal;
}

#custom-power,
#custom-lock,
#custom-quit,
#custom-reboot {
    margin: 2px;
    /* border-radius: 12px; */
    /* background: @crust; */
    border-bottom: 1px solid @peach;
    color: @peach;
}