@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;
@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;
@define-color nord7 #8fbcbb;
@define-color nord8 #88c0d0;
@define-color nord9 #81a1c1;
@define-color nord10 #5e81ac;
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;


* {
    font-family: "JetBrainsMono Nerd Font";
    border: none;
    border-radius: 0;    
}

window#waybar {
    background: @nord0;
    opacity: 0.9;
    color: @nord7;
}

tooltip {
    border-width: 2px;
    border-color: @nord11;
    background-color: @nord1;
    font-family: "JetBrainsMono Nerd Font";
    border-radius: 8px;
    margin: 0 12px;
    padding: 0 12px;
}

tooltip label {
    color: @nord14;
}

#waybar .modules-left {
    margin: 4px 0; 
    padding-left: 12px;
}

#waybar .modules-right {
    margin: 4px 0;
    padding-right: 12px;
}

#workspaces button {
    background: @nord11;
    color: @nord0;
    border-radius: 12px;
    margin-right: 4px;
}

#workspaces button.active {
    background: @nord14;
}

#workspaces button:hover {
    background: @nord10;
    color: @nord5
}

#tray {
    margin: 2px 8px;
    border-radius: 8px;
    padding: 0 12px;
    color: @nord12;
    background: @nord3;
}

#pulseaudio {
    margin: 2px 0;
    border-radius: 8px;
    padding: 0 12px;
    color: @nord15;
    background: @nord3;
}

#battery {
    margin: 2px 0;
    border-radius: 8px;
    padding: 0 12px;
    color: @nord14;
    background: @nord3;
}

#clock {
    margin: 2px 8px;
    border-radius: 8px;
    padding: 0 12px;
    color: @nord13;
    background: @nord3;
}

#custom-notification-center {
    margin: 2px;
    border-radius: 12px;
    background: @nord11;
    color: @nord4;
}

#custom-power,
#custom-lock,
#custom-quit,
#custom-reboot {
    margin: 2px;
    border-radius: 12px;
    background: @nord1;
    color: @nord12;
}